
{
  currency: {
    name : 'United States dollars',
    abbrev : 'USD',
  },
  tours : [
    {name : 'Hood River', price : '$99.95'},
    {name : 'Oregon Coast', price : '$159.95'},
  ],
  specialistUrl : '/January-specials',
  currencies: ['USD', 'GBP', 'BTC'],
};



<ul>
  <li>Hood River - $99.95 USD</li>
  <li>Oregon Coast - $159.95 USD</li>
  <p>Check out our <a href = '/January-specials'>specials!</p></a>
  <p><a href = '#' class = "currency">USD</a><
  <a href = '#' class = "currency">GBP</a>
  <a href = '#' class = "currency">BTC</a>
</p>
</ul>

* Hood River - $99.95 (USD)
* Oregon Coast - $159.95 (USD)
Check out our specials!
USD GBP BTC
